{%load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href={% static 'css/style.css' %}>
    <title>Document</title>
</head>
<body>
    <div id="header"> HB car showroom</div>
    <div id="nav">
        <tr>
            <td> <a href="{% url 'home' %}" id="link">Home </a> </td>
        </tr>
        <tr>
            <td><a href="{% url 'cars' %}" id="link">  Brand</a></td>   
        </tr>
        <tr>
            <td><a href="{% url 'spare' %}" id="link"> Spare </a></td>   
        </tr>
        <tr>
            <td><a href="{% url 'service' %}" id="link"> Service</a></td>   
        </tr>
        <tr>
            <td><a href="{% url 'contact' %}" id="link"> Contact</a></td>   
        </tr>
    </div>
    <div class="contain">
            
            <img src="{% static 'css/tatacar.jpg' %}" alt="image" height="150px" width="180px"/>
            <img src="{% static 'css/tatacar2.jpg' %}" alt="image" height="150px" width="180px"/>
       </div>
       <div>
       <p>Tata Motors has auto manufacturing and assembly plants in Jamshedpur, Pantnagar, 
        Lucknow, Sanand, Dharwad, and Pune in India, as well as in Argentina, South Africa, 
        Great Britain, and Thailand. It has research and development centres in Pune, 
        Jamshedpur, Lucknow, and Dharwad, India and South Korea, Great Britain, and Spain.
         Tata Motors' principal subsidiaries purchased the English premium car maker Jaguar 
         Land Rover (the maker of Jaguar and Land Rover cars) 
        and the South Korean commercial vehicle manufacturer Tata Daewoo.</p>
    </div>
</body>
</html>